#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: white;
}

.searchArea {
    background-color: var(--bg-blue);
    height: 200px;
    display: flex;
    flex-direction: row;
}

.searchFields {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#searchBar {
    width: 30%;
    height: 35px;
    padding: 0 5px;
}

#searchButton {
    margin-left: 10px;
    background-color: white;
    border: none;
    outline: none;
}

svg {
    color: black;
}